# Data Fundamentals

In [6]:
import pandas as pd

Creating simple data frame.

In [8]:
# Defining variables that are measured 
labels = ["temperature", "humidity", "wind speed", "weather"]

# Making observations
observation_1 = [10.3, 12.7, 3.1, "sunny"]
observation_2 = [12.7, 85, 5.5, "drizzle"]
observation_3 = [15.6,100, 7,"rain"]
observation_4 = [11, 70, 5, "cloudy"]

#creating data frame with pandas package
df = pd.DataFrame([observation_1, observation_2, observation_3, observation_4], columns = labels)

#displays first few rows of the dataframe
df.head()

   temperature  humidity  wind speed  weather
0         10.3      12.7         3.1    sunny
1         12.7      85.0         5.5  drizzle
2         15.6     100.0         7.0     rain
3         11.0      70.0         5.0   cloudy

Single bracket row access gives ``pandas.series`` which is not the python ``list``

In [18]:
tmps_1 = df["temperature"]
print(type(tmps_1))
print(tmps_1)


convert = list(tmps_1)
print(convert)
print(type(convert) == type(tmps_1))

<class 'pandas.core.series.Series'>
0    10.3
1    12.7
2    15.6
3    11.0
Name: temperature, dtype: float64
[10.3, 12.7, 15.6, 11.0]
False

In [13]:
tmps_2 = df[["temperature"]]
print(type(tmps_2))

<class 'pandas.core.frame.DataFrame'>

In [10]:
data_selection = df[["temperature", "weather"]]

   temperature  weather
0         10.3    sunny
1         12.7  drizzle
2         15.6     rain
3         11.0   cloudy